<header class="header">
    <div class="header-content">
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/logo_fpm.png') }}" alt="Logo FPM" class="logo" style="background-color: white; border-radius: 2px; padding: 5px;" onerror="this.style.display='none'">
            <div class="header-title">
                <h1>VisioData 📊👓</h1>
                <p class="subtitle">Département d'Inspection et de Contrôle Technique</p>
            </div>
        </div>
        <div class="header-right">
            <span class="user-info">Utilisateur: Admin</span>
        </div>
    </div>
</header>
